@charset "UTF-8";
@import "./common/var.css";
@import "./button.css";

@component-namespace el {
  @b dropdown {
    display: inline-block;
    position: relative;
    color: var(--color-extra-light-black);
    font-size: var(--font-size-base-tse);
    font-family: Gotham;

    .el-button-group {
      display: block;
      .el-button {
        float: none;
      }
    }

    @b dropdown:hover {
      cursor: pointer;
    }

    & .el-dropdown__caret-button {
      padding: * 5px;

      & .el-dropdown__icon {
        padding-left: 0;
      }
    }
    @e icon {
      font-size: 12px;
      margin: 0 3px;
    }
  }
  @b dropdown-menu {
    margin: 5px 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-base-gray);
    box-shadow: var(--dropdown-menu-box-shadow);
    z-index: 10;
    position: absolute;
    min-width: 100px;
    position: absolute;
    will-change: top, left;
    top: 40px;
    left: -25px;
    border-radius: 5px;
    padding: 10px 20px;
    right: 0;
    @e item {
      list-style: none;
      line-height: 30px;
      padding: 0 0px;
      margin: 0;
      cursor: pointer;

      &:not(.is-disabled):hover {
        background-color: var(--dropdown-menuItem-hover-fill);
        color: var(--dropdown-menuItem-hover-color);
      }
      @m divided {
        position: relative;
        margin-top: 6px;
        border-top: 1px solid var(--color-base-gray);

        &:before {
          content: '';
          height: 6px;
          display: block;
          margin: 0 -10px;
          background-color: var(--color-white);
        }
      }
      @when disabled {
        cursor: default;
        color: var(--color-extra-light-silver);
        pointer-events: none;
      }
    }
  }
}
